:host {
  display: contents;

  .modal-body {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .editor-container {
      height: 100%;
      flex: 1;
    }
  }
}
