:host {
  display: block;

  .links-container {
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .toast-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
  }

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::ng-deep {
    gridster-item {
      background-color: var(--cds-background);
    }
  }
}
