@use 'base';

:host {
  display: block;
  padding-top: base.$nav-block-size;

  .toast-container {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
  }

  /* stylelint-disable-next-line selector-pseudo-element-no-unknown */
  ::ng-deep {
    gridster-item {
      background-color: var(--cds-background);
    }
  }
}
