<div cdsTheme="g100">
  <cds-header brand="DJUI" name="[Carbon Components]">
    <cds-header-navigation>
      <cds-header-item [routerLink]="['./builder-patterns']">Builder</cds-header-item>
      <cds-header-menu title="E2E patterns">
        <cds-header-item [routerLink]="['./table-patterns']">Table</cds-header-item>
        <cds-header-item [routerLink]="['./button-pattenrs']">Button</cds-header-item>
        <cds-header-item [routerLink]="['./text-card-patterns']">Text card</cds-header-item>
        <cds-header-item [routerLink]="['./carousel-patterns']">Carousel</cds-header-item>
        <cds-header-item [routerLink]="['./carousel-card-patterns']">Carousel card</cds-header-item>
        <cds-header-item [routerLink]="['./simple-text-patterns']">Simple text</cds-header-item>
      </cds-header-menu>
    </cds-header-navigation>
  </cds-header>

  <router-outlet></router-outlet>

  <cds-toast
    *ngIf="isNotificationDisplayed()"
    class="toast-container"
    [notificationObj]="notificationConfig"
    (close)="isNotificationDisplayed.set(false)"
  ></cds-toast>
</div>
