@let loading = loadingSig();

<cds-table-container>
  <cds-table-header>
    <h4 cdsTableHeaderTitle>All available UI Elements</h4>
  </cds-table-header>

  <cds-table-toolbar>
    <cds-table-toolbar-content>
      <button cdsButton="primary" size="sm" [routerLink]="['new']">New UI Element</button>
    </cds-table-toolbar-content>
  </cds-table-toolbar>

  <cds-table
    [model]="loading ? tableSkeletonModel : tableModel"
    [showSelectionColumn]="false"
    [skeleton]="loading"
    [sortable]="false"
    (rowClick)="onRowClick($event)"
  ></cds-table>
</cds-table-container>
