@let isLoading = loadingSig();
@let idError = getFieldErrorMessage('id');
@let nameError = getFieldErrorMessage('name');
@let descriptionError = getFieldErrorMessage('description');

<cds-loading *ngIf="isLoading" [isActive]="true" [overlay]="true"></cds-loading>

<form class="new-ui-element-form" [formGroup]="newUIElementForm" (ngSubmit)="onSubmit()">
  <cds-dropdown formControlName="type" itemValueKey="value" label="Type">
    <cds-dropdown-list [items]="uiElementTypeItems"></cds-dropdown-list>
  </cds-dropdown>
  <cds-button-set class="new-ui-element-form__btn-container">
    <button cdsButton type="submit" [disabled]="!newUIElementForm.valid">Create</button>
    <button cdsButton="secondary" [routerLink]="['..']">Cancel</button>
  </cds-button-set>
  <cds-text-label [helperText]="idValidationLoading" [invalid]="!!idError">
    Id
    <input cdsText formControlName="id" [autocomplete]="false" />
  </cds-text-label>
  <cds-text-label
    helperText="The name of the UI Element"
    [invalid]="!!nameError"
    [invalidText]="nameError"
  >
    Name
    <input cdsText formControlName="name" [autocomplete]="false" />
  </cds-text-label>
  <cds-textarea-label
    class="new-ui-element-form__description-text-area"
    helperText="Give your UI Element a good description"
    [invalid]="!!descriptionError"
    [invalidText]="descriptionError"
  >
    Description
    <textarea
      cdsTextArea
      class="textarea-field"
      formControlName="description"
      [rows]="20"
    ></textarea>
  </cds-textarea-label>
</form>

<ng-template #idValidationLoading>
  <cds-inline-loading
    errorText="This id is not unique"
    loadingText="Checking id..."
    successText="This id is unique"
    [state]="getIdFieldState()"
  >
  </cds-inline-loading>
</ng-template>
