<form (ngSubmit)="handleSubmit()">
  <div class="field">
    <label class="label" for="email"> Email </label>
    <div class="control">
      <input
        class="input"
        id="email"
        name="email"
        required
        type="email"
        [(ngModel)]="loginFormModel.email"
      />
    </div>
  </div>
  <div class="field">
    <label class="label" for="password"> Password </label>
    <div class="control">
      <input
        class="input"
        id="password"
        name="password"
        required
        type="password"
        [(ngModel)]="loginFormModel.password"
      />
    </div>
  </div>
  @if (isError()) {
    <div class="message is-danger">
      <p class="message-body">Login failed</p>
    </div>
  }

  <div class="field">
    <div class="control">
      <button class="button is-link" type="submit" [disabled]="isLoggingIn()">Login</button>
    </div>
  </div>
</form>
