<nav aria-label="pagination" class="pagination is-centered" role="navigation">
  <button
    aria-label="Previous page"
    class="pagination-previous"
    [disabled]="currentPage() === 1"
    (click)="setPage(currentPage() - 1)"
  >
    &#x25C0;
  </button>
  <button
    arial-label="Next page"
    class="pagination-next"
    [disabled]="currentPage() === totalPages()"
    (click)="setPage(currentPage() + 1)"
  >
    &#x25B6;
  </button>
  <ul class="pagination-list">
    @for (page of pages(); track page) {
      <li aria-hidden="true" (click)="setPage(+page)" (keypress)="setPage(+page)">
        <namnguyen191-page-button
          [currentPage]="currentPage.toString()"
          [page]="page"
        ></namnguyen191-page-button>
      </li>
    }
  </ul>
</nav>
