<nav class="pagination is-centered" role="navigation" aria-label="pagination">
  <button
    class="pagination-previous"
    aria-label="Previous page"
    [disabled]="currentPage() === 1"
    (click)="setPage(currentPage() - 1)"
  >
    &#x25C0;
  </button>
  <button
    class="pagination-next"
    arial-label="Next page"
    [disabled]="currentPage() === totalPages()"
    (click)="setPage(currentPage() + 1)"
  >
    &#x25B6;
  </button>
  <ul class="pagination-list">
    @for (page of pages(); track page) {
      <li aria-hidden="true" (click)="setPage(+page)" (keypress)="setPage(+page)">
        <namnguyen191-page-button
          [page]="page"
          [currentPage]="currentPage.toString()"
        ></namnguyen191-page-button>
      </li>
    }
  </ul>
</nav>
